{
  admin off
}

{$DOMAIN} {
  encode zstd gzip
  log {
    output stdout
    format console
  }

  basic_auth {
    {$BASIC_AUTH_USER} {$BASIC_AUTH_HASH}
  }

  redir /grafana /grafana/ 308
  redir /victoriametrics /victoriametrics/ 308

  route {
    handle /api/v1/write* {
      reverse_proxy victoriametrics:8428
    }

    handle /api/* {
      reverse_proxy backend:8080
    }

    handle /grafana/* {
      reverse_proxy grafana:3000
    }

    handle_path /victoriametrics/* {
      reverse_proxy victoriametrics:8428
    }

    handle {
      reverse_proxy frontend:3000
    }
  }
}
